<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Бронирование стола</title>
</head>
<body>

<p th:if="${reserveInfo}">Бронь стола в ресторане
    <span  th:text="${reserveInfo}" style="color:red"></span>
    сделана
</p>
<h3>Ввод данных для резерва</h3>


<!--<form method="get" th:action="@{/reserve/add}" th:object="${restaurant}"></form>-->
<form action="#"  th:action="@{/reserve/add}" th:object="${reserve}" method="post">

    <!--<label>ВВедите Имя <input th:field="*{visitorName}" type="text"></label></br>-->
    <div>
        <select name="restaurant">
            <option th:each="restaurant : ${restaurant}"
                    th:value="${restaurant.restaurantId}"
                    th:utext="${restaurant.restaurantName}">
            </option>
        </select>
    </div>

    <label>Количество гостей <input th:field="*{Tables.visitorsVolume}" type="text"></label></br>

    <div> <p>Ввод даты и времени: <input th:field="*{dateReserve}" type="datetime-local" visitorName="calendar">

    <hr>
    <p><input type="submit" value="Проверить бронь"></p>

    </div>

</form>

<p><a href="/">На главную</a></p>
<!--<script src="/js/tables.js"></script>-->
</body>
</html>