<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация ресторана</title>
</head>
<body>

<h3>Форма добавления ресторана</h3>

<p th:if="${addInfo}">Ресторан
    <span  th:text="${addInfo}" style="color:red"></span>
    добавлен
</p>

<form method="post" th:action="@{/restaurant/add}" th:object="${restaurant}">
    <label>Название ресторана: <input th:field="*{restaurantName}" type="text"></label></br>
    <hr>
    <label>Адрес: <input th:field="*{adress}" type="text"></label>
    <label>Номер телефона: <input th:field="*{phoneNumber}" type="text"></label>
    <label>Количество столов: <input id="tables_count" th:field="*{tablesQty}" type="text"></label>

    <p><input type="button" id="add_table" value="Добавить описание столов"></p>
    <div id="tables"></div>
    <p><input type="submit" value="Добавить ресторан"></p>
</form>


<p><a href="/">На главную</a></p>
<script src="/js/tables.js"></script>
</body>
</html>